.beauty-box{
 background:white;
 padding:20px;
 border-radius:10px;
 margin:15px auto;
 width:80%;
 text-align:center;
 transition:.3s;
}

.seat{
 width:60px;
 height:40px;
 border-radius:8px;
}

.selected{
 background:orange;
 color:white;
}

.booked{
 background:red;
 color:white;
 pointer-events:none;
}

.owner-box{
 background:#bbdefb;
}
